VITE_FIREBASE_API_KEY=AIzaSyBq7yGFgXF8pCMriSgH4gwgWKCiFR0hzIA
VITE_FIREBASE_AUTH_DOMAIN=abilash-portfolio-5601e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=abilash-portfolio-5601e
VITE_FIREBASE_STORAGE_BUCKET=abilash-portfolio-5601e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=136605129796
VITE_FIREBASE_APP_ID=1918177329e745cadef011
